body {
    background-color: #eee;
    font-family: sans-serif;
}

/* Palette
 *
 * White: #eee
 * Accent: #32e0c4
 * Dark: #393e46
 * Black: #222831
 * Grid: #9c9c9c
 */

.topBar {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #222831;
    padding-top: 20px;
    padding-bottom: 20px;
}

table, .gridBase {
    position: relative;
    top: 150px;
    border-collapse: collapse !important;
    margin: auto;
}

tr, td {
    overflow: auto;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
}

.gridButton {
    display: inline-block;
    border: solid;
    border-color: #9c9c9c;
    border-width: 1px;
    padding: 13px 13px;
    margin: 0;
    text-decoration: none;
    background: #eee;
    color: #222831;
    cursor: pointer;
    text-align: center;
    transition: background 100ms ease-in-out,
                transform 100ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.gridButton:hover {
    background: #222831;
}

.settingsButton, select {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #32e0c4;
    color: #222831;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.settingsButton:hover,
select:hover,
.settingsButton:active {
    background: #eee;
}

label {
    color: #eee;
    padding-right: 8px;
}

