:root {
    --white: #eee;
    --accent: #32e0c4;
    --accent2: #fcba03;
    --accent3: #87d93b;
    --dark: #393e46;
    --black: #222831;
    --grid: #9c9c9c;
}

body {
    background-color: var(--white);
    font-family: sans-serif;
    margin: 0;
}
input[type=range]::-webkit-slider-thumb {
    background: var(--accent) !important;
}
input[type=range].range-slider {
    padding: 0px !important;
}

.tabButton, .tabButtonSelected {
    outline: none;
    cursor: pointer;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid;
    border-radius: 6px 6px 0px 0px;
    border-width: 2px;
    border-color: var(--dark);
    height: 45px;
    text-decoration: none;
    background: #d9d9d9;
    color: var(--black);
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    transition: all 150ms ease-in-out
}

.tabButtonSelected {
    border: solid;
    border-width: 2px;
    border-bottom: none;
    border-color: var(--dark);
    background: var(--white);
}

.modalBg {
    z-index: 13;
    position: fixed;
    background: #00000055;
    text-align: center;
    width: 100%;
    height: 100%;
}

.tabbedMenuContainer {
    margin: 18vh auto;
    width: 30%;
}

.tabbedMenuContent {
    background: var(--white);
    padding: 1px;
}

.tabbedTitleBar {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}

.notification {
    position: fixed;
    right: 3vw;
    display: table-cell;
    z-index: 12;
    width: 260px;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 2px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 2px 5px rgba(0,0,0,0);
    text-align: center;
    font-size: 1rem;
    background: var(--accent3);
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.itemBarContainer {
    z-index: 10;
    position: absolute;
  }

.itemBar { 
    display: flex;
    width: 8vw;
    min-width: 120px;
    flex-direction: column;
    overflow: hidden;
    padding: 0px 0px;
    margin-left: 0%;
    background-color: var(--dark);
    text-align: center;
}

.itemBarBtn {
    outline-style: none;
    outline-color: var(--accent);
    cursor: pointer;
    box-shadow: 0 0 5px var(--accent);
    border: 2px solid var(--accent);
    width: 90%;
    padding: 0.5vh;
    margin: auto;
    text-decoration: none;
    background: var(--black);
    color: var(--white);
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
}

.itemBarBtn span {
    font-size: 2rem;
}

#itemBarText {
    margin: 0px;
}

.itemBarToggle {
    outline: none;
    display: table-row;
    cursor: pointer;
    width: 8vw;
    min-width: 120px;
    border: none;
    height: 30px;
    text-decoration: none;
    background: var(--accent);
    color: var(--black);
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.topBarContainer {
    z-index: 2;
    position: absolute;
    right: 0%;
    width: 200px;
}

.topBarToggle {
    outline: none;
    display: table-row;
    position: relative;
    cursor: pointer;
    right: 0%;
    top: 0%;
    width: 100%;
    min-width: 120px;
    border: none;
    height: 30px;
    text-decoration: none;
    background: var(--accent);
    color: var(--black);
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;

}

.itemButton {
    outline: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    height: 45px;
    width: 45px;
    margin: auto;
    text-decoration: none;
    background: var(--accent);
    color: var(--black);
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    transition: background 250ms ease-in-out,
                color 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.topBarMobile {
    z-index: 10;
    position: relative;
    right: 0%;
    display: flex;
    padding: 10px;
    overflow: hidden;
    flex-direction: column;
    border-collapse: separate;
    border-spacing: 19px 19px;
    justify-content: space-between;
    background-color: var(--black);
}

.topBar {
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 6vh;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--black);
    padding-top: 20px;
    padding-bottom: 20px;
}

.mobileActionBar {
    position: fixed;
    display: flex;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60px;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(to top, #00000099, 20%, #00000000);
}

.sliderContainer {
    display: flex;
    flex-direction: column;
}

table, .gridBase {
    position: relative;
    box-shadow:
        0 2.8px 2.8px rgba(0, 0, 0, 0.036),
        0 6.4px 6.5px rgba(0, 0, 0, 0.052),
        0 11.5px 11.7px rgba(0, 0, 0, 0.062),
        0 19.1px 19.4px rgba(0, 0, 0, 0.071),
        0 31.5px 32px rgba(0, 0, 0, 0.078),
        0 55px 55.9px rgba(0, 0, 0, 0.087),
        0 119px 121px rgba(0, 0, 0, 0.11);
    border-collapse: collapse;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

/* border in the outer element*/
tr, td {
    height: 20px;
    border: solid;
    border-color: var(--grid);
    border-width: 1px;
    overflow: auto;
    white-space: pre;
    overflow: hidden;
    padding: 0px;
}

td {
    width: 20px;
}

.ionIcon {
    padding-right: 5px;
}

.ionDropdown {
    padding-left: 18px;
    margin: -8px;
}

.gridButton {
    outline: none;
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 100%;
    border-width: 0px;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    transform: scale(1);
    animation-name: gridButtonAppear; 
    animation-duration: 0.4s;
    margin: 0px;
    text-decoration: none;
    background: var(--white);
    color: var(--black);
    text-align: center;
    transition: background 150ms ease-in-out,
                transform 1000ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/*
.popup-overlay {
    background: #000000;
    opacity: 0.3;
}
*/

@keyframes tooltopFadeIn {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.tooltip-content {
    background: var(--white) !important;
    color: var(--black);
    opacity: 1;
    animation-name: tooltopFadeIn;
    animation-duration: 0.4s;
}

.tooltip-arrow {
    background: var(--white) !important;
}

.settingsButton, .resetButton, select {
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    height: 45px;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    background: var(--accent);
    color: var(--black);
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    transition: 
                background 250ms ease-in-out,
                color 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select {
    max-width: 100px;
}

.resetButton {
    background: var(--accent2)
}

.settingsButton, .resetButton {
    display: flex;
}

.settingsButton:disabled, 
.resetButton:disabled, 
select:disabled {
  background-color: #91a3a0;
  color: #666666;
}

.settingsButton:hover:enabled,
.resetButton:hover:enabled,
select:hover:enabled,
.settingsButton:active {
    background: var(--white);
}

option {
    outline: none;
    background: var(--white);
}

label {
    color: var(--white);
    padding-right: 8px;
}

